@model CreateTrainerViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-4">
    <header class="mb-4">
        <h3 class="text-primary-color">Add New Trainer</h3>
    </header>

    <form method="post">

        <!-- Trainer Info -->
        <div class="section-header mb-3">
            <h5 class="text-primary fw-bold">Personal Information</h5>
            <hr class="mt-2">
        </div>
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" type="text" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="Phone" class="form-label"></label>
                <input asp-for="Phone" type="text" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger" />
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="DateOfBirth" class="form-label"></label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger" />
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="Gender" class="form-label"></label>
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-select">
                    <option value="">-- Select Gender --</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger" />
            </div>

        </div>
        <div class="section-header mb-3 mt-4">
            <h5 class="text-primary fw-bold">Address Information</h5>
            <hr class="mt-2">
        </div>
        <div class="row g-3">

            <div class="col-12 col-md-6">
                <label asp-for="BuildingNumber" class="form-label">BuildingNumber</label>
                <input asp-for="BuildingNumber" type="text" class="form-control" />
                <span asp-validation-for="BuildingNumber" class="text-danger" />
            </div>

            <div class="col-12 col-md-6">
                <label asp-for="Street" class="form-label">Street</label>
                <input asp-for="Street" name="Street" type="text" class="form-control" />
                <span asp-validation-for="Street" class="text-danger" />
            </div>
            <div class="col-12 col-md-6">
                <label asp-for="City" class="form-label">City</label>
                <input asp-for="City" name="City" type="text" class="form-control" />
                <span asp-validation-for="City" class="text-danger" />
            </div>
        </div>
        <!-- Professional Information -->
        <div class="section-header mb-3">
            <h5 class="text-primary fw-bold">Professional Information</h5>
            <hr class="mt-2">
        </div>
        <div class="row g-3">
            <div class="col-12">
                <label class="form-label fw-semibold">
                    Specializations <span class="text-danger">*</span>
                </label>
                @foreach (var spec in Html.GetEnumSelectList<Specialites>())
                {
                    <div class="form-check">
                        <input id="@spec.Value" class="form-check-input" type="radio" asp-for="Specialites"
                               value="@spec.Value" />
                        <label for="@spec.Value" asp-for="Specialites" class="form-check-label">@spec.Text</label>
                    </div>
                }
                <span asp-validation-for="Specialites" class="text-danger" />
            </div>
        </div>

        <footer class="d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-fill">Add</button>
        </footer>
    </form>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}